
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");


// HEADERS 
$headerLv12 : steelblue;
$headerLv13 : darkslategray;

// WORK 
$workExperienceBorder : lightgray;

// PROJECTS 
$projectAsideBg : gray;
$projectAsideFont : white;

// BTN 
$btnBg : darkblue;
$btnBgHover : steelblue;

// FOOTER 
$footerBg : darkblue;

// NAV 
$navMenu : rgba(100,100,100,0.5);
$navMenuFont : whitesmoke;
$navMenuHover : steelblue;


$fontFamily : "Montserrat", sans-serif;

$defaultMobileSize : 300px ;