@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

@media (min-width:300px) {
  
  body {
    font-family: 'Montserrat', sans-serif;
    padding: 3%;
  }

  section {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  /* CONTACT  */
  .contact [type="text"],[type="email"], textarea {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    padding: 3%;
  }

  .btn {
    background-color: darkblue;
    font-weight: bold;
    color: white;
  }

  .btn:hover {
    background-color: steelblue;
  }

 .contact [class=d-flex] {
    justify-content: space-evenly;
  }
  
  /* FOOTER  */
  footer {
    background-color: darkblue;
    color: white;
    padding: 5%;
    text-align: center;
  }

  footer > span {
    font-weight: bold;
  }








}


/* 
1-plan the sections from your page. 
 a) Footer 
 b) Contact
 c) Education 
 d) Skills
 e) Projects
 f) About 
 g) Header
 */

