@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 300px) {
  body {
    font-family: "Montserrat", sans-serif;
    padding: 3%;
  }

  section {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  section > h2 {
    width: 90%;
    color: steelblue;
    font-size: 36px;
    border-bottom: 3px solid steelblue;
  }

  /* 구글에서 클릭하면 새창으로 열리게 설정  */
  /* flex-wrap  */

  #projectone p {
    line-height: 2;
  }


  #projectone > div > aside {
    margin-right: 5%;
    float: left;
    width: 15vh;
    height: 15vh;
    color: white;
    background-color: gray;

    display: flex;
    align-items: center;
    text-align: center;
  }

  #projecttwo p {
    line-height: 2;
  }

  #projecttwo > div > aside {
    margin-right: 5%;
    float: left;
    width: 15vh;
    height: 15vh;
    color: white;
    background-color: gray;

    display: flex;
    align-items: center;
    text-align: center;
  }

  #projectthree p {
    line-height: 2;
  }

  #projectthree > div > aside {
    margin-right: 5%;
    float: left;
    width: 15vh;
    height: 15vh;
    color: white;
    background-color: gray;

    display: flex;
    align-items: center;
    text-align: center;
  }

  /* SKILLS  */

  #skills div {
    display: flex;
    padding: 2%;
  }

  /* justfy  */

  #skills  aside {
    width: 60vh;
    height: 20vh;
  }

  #html-5 aside {
    background: url("/img/html-5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
  }

  #css aside {
    background: url("/img/css.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }

  #javaScript aside {
    background: url("/img/javascript.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
  }

  #sass aside {
    background: url("/img/sass.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }

  #wordpress aside {
    background: url("/img/wordpress.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
  }

  /* EDUCATION  */

  .education aside {
    width: 40vh;
    height: 25vh;
  }

  /* .education {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  } */

  .education {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }

  .card {
    align-items: center;
    padding: 2%;
  }

  #unam-card > aside {
    background: url("/img/UNAM.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #seoul-card > aside {
    background: url("/img/seoul-national-university.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #chula-card > aside {
    background: url("/img/Chula.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #tamwood-card > aside {
    background: url("/img/Tamwood.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }


  /* CONTACT  */
  .contact [type="text"],
  [type="email"],
  textarea {
    width: 90%;
    font-family: "Montserrat", sans-serif;
    padding: 3%;
  }

  .btn {
    background-color: darkblue;
    font-weight: bold;
    color: white;
  }

  .btn:hover {
    background-color: steelblue;
  }

  .contact [class="d-flex"] {
    justify-content: space-evenly;
  }

  /* FOOTER  */
  footer {
    background-color: darkblue;
    color: white;
    padding: 5%;
    text-align: center;
  }

  footer > span {
    font-weight: bold;
  }
}

/* 
1-plan the sections from your page. 
 a) Footer 
 b) Contact
 c) Education 
 d) Skills
 e) Projects
 f) About 
 g) Header
 */
