@media (min-width:700px) {
  
  .about > p {
    line-height: 1.5;
    font-size: 24px;
    padding-bottom: 0%;
  }

  .skills {
    font-size: 24px;
    p {
      display: flex;
    }
    #html-5 > aside, 
    #css > aside, 
    #javascript > aside,
    #wordpress > aside {
      padding: 10%;
    }
  }


  .education {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
      width: 40%;
    }

    aside {
      padding: 0%;
      width: 100%;
    }
  }
  
  
  // .education {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: space-evenly;

  //   aside {
  //     width: 100%;
  //   }
  //   .card {
  //     width: 15%;
  //   }
  // }
  
  
  .contact {
    width: 100%;
    @include flex-behavior(flex,column,0,0);
    align-items: center;

    form {
      width: 80%;
    }

    label {
      width: 30%;
    }

    [type="text"], [type="email"] {
      width: 60%;
      padding: 1%;
    }

    div {
      padding: 1%;
    }
  }
}