@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,600;0,700;1,300&display=swap');

$picDesktop : "https://dummyimage.com/480x400/000/0011ff&quot";
$picTablet : "https://dummyimage.com/280x200/000/0011ff&quot";
$picMobile : "https://dummyimage.com/350x270/000/0011ff&quot";
$fontFamily : "Josefin sans", sans-serif;
$color-1: rgba(255, 255, 255, 0.3);
$color-2: rgb(102, 238, 102);
$color-3: #C60;
$color-4: #9ca8af;
$bgOverlay-1 : rgba(66, 40, 40, 0.64);
$bgOverlay-2 : rgba(0, 0, 0, 0.4);
$bgGray: rgba(0, 0, 0, 0.6);
$bgBody : #777777;
$bgColorLightBlue : #6cc0f7;
$bgColorLightGray: #d7d5d5;
$anchorColorHover : #444444;
$header:#444444;