$background : rgb(56,146,142);
$divBg : lightblue;
$defaultFontsize : 18px;
$defaultHeader : 48px;
$defaultSecondHeaderColor: brown;
$fontFamily : Arial;
$blockQuoteBg : lime;
$btnBgSuccess : green;
$btnBgDanger : red;
$btnBgwarning : yellow;
$btnBgDefault : darkgray;
$btnBgExit : whitesmoke;
$orange: orange;

$defaultBoxWidth : 20vh;
$defaultBoxHeight : 20vh;
