@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: fixed;
}

@media (min-width: 300px) {


  body {
    font-family: "Montserrat", sans-serif;
    padding: 3%;
  }

  section {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  section > h2 {
    width: 90%;
    color: steelblue;
    font-size: 36px;
    border-bottom: 3px solid steelblue;
  }

  .about p {
    padding: 3%;
  }


  .work-experience {
    flex-direction: column;
    row-gap: 3vh;
  }

  .work-experience h3 {
    font-weight: 600;
    color: darkslategray;
  }

  .work-experience h4 {

  }

 .work-experience > article {
    border: 2px solid lightgray;
    border-radius: 10px;
  }

  #projectone p {
    line-height: 2;
  }


  #projectone > div > aside {
    margin-right: 5%;
    float: left;
    width: 15vh;
    height: 15vh;
    color: white;
    background-color: gray;

    display: flex;
    align-items: center;
    text-align: center;
  }

  #projecttwo p {
    line-height: 2;
  }

  #projecttwo > div > aside {
    margin-right: 5%;
    float: left;
    width: 15vh;
    height: 15vh;
    color: white;
    background-color: gray;

    display: flex;
    align-items: center;
    text-align: center;
  }

  #projectthree p {
    line-height: 2;
  }

  #projectthree > div > aside {
    margin-right: 5%;
    float: left;
    width: 15vh;
    height: 15vh;
    color: white;
    background-color: gray;

    display: flex;
    align-items: center;
    text-align: center;
  }

  /* SKILLS  */

  #skills div {
    display: flex;
    padding: 2%;
  }

  /* justfy  */

  #skills  aside {
    width: 60vh;
    height: 20vh;
  }

  #html-5 aside {
    background: url("/img/html-5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
  }

  #css aside {
    background: url("/img/css.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }

  #javaScript aside {
    background: url("/img/javascript.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
  }

  #sass aside {
    background: url("/img/sass.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }

  #wordpress aside {
    background: url("/img/wordpress.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
  }

  /* EDUCATION  */

  .education aside {
    width: 40vh;
    height: 25vh;
  }

  /* .education {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  } */

  .education {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }

  .card {
    align-items: center;
    padding: 2%;
  }

  #unam-card > aside {
    background: url("/img/UNAM.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #seoul-card > aside {
    background: url("/img/seoul-national-university.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #chula-card > aside {
    background: url("/img/Chula.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #tamwood-card > aside {
    background: url("/img/Tamwood.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }


  /* CONTACT  */
  .contact [type="text"],
  [type="email"],
  textarea {
    width: 90%;
    font-family: "Montserrat", sans-serif;
    padding: 3%;
  }

  .btn {
    background-color: darkblue;
    font-weight: bold;
    color: white;
  }

  .btn:hover {
    background-color: steelblue;
  }

  .contact [class="d-flex"] {
    justify-content: space-evenly;
  }

  /* FOOTER  */
  footer {
    background-color: darkblue;
    color: white;
    padding: 5%;
    text-align: center;
  }

  footer > span {
    font-weight: bold;
  }
}

@media (min-width: 700px) {

  .about > p {
    padding-bottom: 0%;
    font-size: 24px;
    line-height: 2;
  }

  /* SKILLS  */

  .skills > div > p {
  display: flex;
  align-items: center;
}

  .skills p {
    font-size: 24px;
  }

  /* EDUCATION  */
  .education {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .education aside {
    padding: 0%;
    width: 100%;
  }

  .education > .card {
    width: 40%;
  }

  /* CONTACT  */
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact > form {
    width: 80%;
  }

  .contact > form > div {
    padding: 1%;
  }

  .contact label {
    width: 30%;
  }

  .contact [type="text"], [type="email"] {
    width: 60%;
    padding: 1%;
  }
}

@media (min-width:1000px) {

  /* NAVIGATION  */

  .navigation-menu {
    display: block; 
    width: 94%;
    position: fixed;
    width: 94%;
    z-index: 1;
  }

  .navigation-menu ul {
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
  }

  .navigation-menu li {
    width: 100%;
    display: flex;
    text-align: center;
    background-color: rgba(100, 100, 100)
  }

  .navigation-menu a {
    width: 100%;
    text-decoration: none;
    padding: 5%;
    color: whitesmoke ;
    font-weight: 600;
    font-size: 24px;
  }

  .navigation-menu a:hover {
    background-color: steelblue;
  }

  /* HEADER  */

  [data-bs-ride="carousel"] img {
    width: 100%;
    height: 25vh;
  }

  /* ABOUT  */

  .about, .projects, .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* PROJECTS  */
  .accordion {
    width: 80%;
  }



  .about > p {
    width: 90%;
    padding-top: 0%;
  }

  /* WORK EXPERIENCE  */
  .work-experience {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .work-experience article {
    width: 30%;
    font-size: 24px;
  }

  /* SKILLS  */
  .skills > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #skills > div > aside {
    border: 1px solid red;
    width: 20%;
    padding: 5%;
  }
  
  /* EDUCATION  */

  .education .card {
    width: 20%;
  }
  
  /* FOOTER  */
  .footer {
    padding: 3%;
    font-size: 24px;
  }
}

/* 
1-plan the sections from your page. 
 a) Footer 
 b) Contact
 c) Education 
 d) Skills
 e) Projects
 f) About 
 g) Header
 */
