@media (min-width: 300px) {
  header {
    @include bgPic("/img/mountains.png",center,cover);
    text-align: center;
    padding: 20%;
    
    & > h1 {
      font-size: 2em;
      padding: 10% 0%;
    }
    
    & p {
      color: white;
      font-size: 1.2em;
      padding: 10% 0%;
    }

    div {
      @include flexBox(column,center,center,wrap);
      
      :first-child {
        padding: 5%;
        background: none;
        border: 2px solid white;
        color: white;
        font-weight: 600;
      }
      
      :last-child {
        padding: 5%;
        background-color: $bgColorLightBlue;
        color: white;
        font-weight: 600;
      }
    }


  }

  .service {
    @include flexBox(column, center, center, wrap);
    padding: 3%;

    .service-box {
      background-color: $bgColorLightGray;
      padding: 15%;
      
      .service-inbox {
        padding: 15%;
        background-color: white;
        text-align: center;

        h3 {
          padding: 10% 0%;          
        }
      }

      & aside {
        color: $bgColorLightBlue;
        border: 2px solid $bgColorLightBlue;
        padding: 15%;
        border-radius: 50%;
      }
    }


  }

  .grid-gallery {
    @include flexBox(column, center, center, wrap);
    padding: 3%;

    .gallery-top-basket {
      padding: 15%;
      font-size: 1.5rem;
      text-align: center;
    }

    .line-gallery {
      border: 2px solid $bgColorLightGray;
    }

    .gallery-top-sentence {
      padding: 10% 0%;
    }

    .gallery-bottom {
      padding: 2%;
      display: flex;
      flex-direction: column;
      row-gap: 40px;

      h3 {
        padding: 5% 0%;
      }

      aside {
        width: 100%;
        height: 250px;
        @include bgPic($picMobile);
      }
    }

    [class*="gallery-box-"] {
      padding: 5%;
      background-color: $bgColorLightGray;
      @include flexBox(column, center, flex-start, nowrap)
    }

    .coloring {
      color: $bgColorLightBlue;
    }
  }

  .subscribe {
    background-color: $bgColorLightBlue;
    color: white;
    padding: 10%;
    outline: 0px;
    @include borderBox(3vh, solid, white);
    @include flexBox(column, center, center, nowrap);

    >h2 {
      width: 80%;
      padding: 10%;
      text-align: center;
      color: rgb(252, 232, 232);
    }

    >p {
      padding: 1%;
      text-align: center;
    }

    >form {
      width: 80%;
      @include flexBox(column, center, flex-start, nowrap);
    }

    [type="email"] {
      width: 90%;
      padding: 3%;
      color: white;
      background-color: $color-1;

      &::placeholder {
        color: white;
      }
    }

    [type="submit"] {
      width: 50%;
      padding: 3%;
      font-size: 90%;
      color: white;
      font-weight: 600;
      background-color: $bgColorLightBlue;
      @include borderBox(3px, solid, white);
    }

  }

  .contact {
    padding: 3%;
    @include flexBox(column, center, center, nowrap);

    >p {
      width: 100%;
      text-align: center;
      padding: 10% 0%;
      font-size: 24px;
    }

    >form {
      width: 95%;
      @include flexBox(column, center, center, nowrap, 20px);
    }

    [type="text"],
    [type="email"],
    textarea {
      @include borderBox(1px, solid, $bgOverlay-2);
      font-family: $fontFamily;
      padding: 2.5%;
      width: 85%;
    }

    textarea {
      height: 25vh;
    }

    [type="submit"] {
      background-color: $bgColorLightBlue;
      color: white;
      font-weight: 600;
      width: 90%;
      padding: 2.5%;
    }
  }

  // 내가 나만의 attribute 을 만들어도 selector 로써 역할을 한다. 
  // 색깔을 하나 바꿔야한다고 하면 색깔 바꾸는속성순서까지는 적어줘야함
  // 1px,solid,red 까지. 
  // solid 를 바꾸고싶으면, 1px, dotted. 까지, 나머지는 안적어줘도 됨. 

  .footer {
    @include flexBox(column, center, center, nowrap, 50px);
    background-color: $bgColorLightGray;
    padding: 2%;
    height: 30vh;
    color: $bgBody;

    .icons {
      width: 60%;
      display: flex;
      justify-content: space-between;

      a {
        color: $bgBody;
        text-decoration: none;
      }
    }
  }
}