@media (min-width:1000px) {

  .navigation-menu {
    display: block;
    // position: absolute;
    z-index: 1;
    position: fixed;
    width:100%;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      background-color: lightgray;
    }

    li {
      display: flex;
      width: 100%;
      text-align: center;

      &:hover {
        background-color: steelblue;
      }
    }

    a {
      width: 100%;
      padding: 3%;
      text-decoration: none;
      color: black;

      &:hover {
        color: white;
      }
    }
  }

  .header {
    [class*="bg-"]
     {
       height: 60vh;
     }
  }

  .about {
    display:flex;
    flex-direction: column;
    align-items: center;
    > p {
      margin: 0;
    }
  }

  .work-experience {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 40px;

      article {
      width: 30%;
      }
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    #projectWrapper {
      width: 70%;
    }
  }

  .skills {
    align-items: center;

    #html-5 > aside,
    #css > aside, 
    #javascript > aside, 
    #github > aside {
      padding: 5%;
      width: 20vh;
      background-size: contain;
    }
    
    > div {
      width: 70%;
    }
  }

  .education {
    
    .card {
      width: 23%;
      align-items: center;
      text-align: center;
    }
    aside {
      width: 70%;
    }
  }

  .footer {
    padding: 2%;
  }

  .footer-2 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    
    a {
      padding: 1%;
      background-color: $footerBg;
      width: 10%;
      color: white;
      font-weight: 600;
      text-decoration: none;
    }
  }
}